<div class="center jumbotron">
  <h1>Welcome to Microposter</h1>
  <h2>A Twitter-like app built with the Ruby on Rails framework</h2>
  <p>You can create microposts and manage them via the app</p>
  <p>You can also follow people and see their microposts as well</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
                      "https://rubyonrails.org/" %>
</div>
