<h1>Microposter</h1>
<h3>A Twitter-like app built with the Ruby on Rails framework</h3>
<p>You can create microposts and manage them via the app</p>
<p>You can also follow people and see their microposts as well</p>
